<div class="row">
    <div class="col-lg-2">
        <div class="label-value-item-list">
            <app-label-value-item [label]="'ID'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Name'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Description'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Wood Cost'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Gold Cost'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Build Time'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Reload Time'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Hit Points'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [label]="'Attack'" [value]="'1'"></app-label-value-item>
            <app-label-value-item [ngClass]="'last'" [label]="'Accuary'" [value]="'1'"></app-label-value-item>
        </div>
    </div>
</div>
